   <div class="row"> 
   		<div class="span5">    
   			<h2> <form> FizBuz from <input id="txt-to" type="text" class="span1 header-input"> to <input id="txt-from" type="text" class="span1 header-input"> <input id="btn-list" type="submit" value="Lookup" class="btn"> </form> </h2>
   		</div> 
   		<div class="span1">
   			<h2> OR </h2> 
   		</div>
   		<div class="span5">  
   			<h2>  <form> The number:  <input id="txt-number" type="text" class="span1 header-input"> <input id="btn-single" type="submit" value="Lookup" class="btn">  </form> </h2> 
   		</div>
   </div>