<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="http://localhost/Slim-FizBuz/static/css/bootstrap.css" rel="stylesheet" type="text/css">
<title>Insert title here</title>
</head>

    <body>
	    <div class="container">
	    {% block content %}
	    {% endblock %}
	    </div>
    </body>
</html>
    